<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	'-//Hibernate/Hibernate Configuration DTD 3.0//EN'
	'http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd'>

<hibernate-configuration>

	<session-factory>

		<mapping class='com.ciphertool.zodiacengine.entities.Cipher' />
		<mapping class='com.ciphertool.zodiacengine.entities.Ciphertext' />
		<mapping class='com.ciphertool.zodiacengine.entities.SolutionSet' />
		<mapping class='com.ciphertool.zodiacengine.entities.Solution' />
		<mapping class='com.ciphertool.zodiacengine.entities.Plaintext' />
		<mapping class='com.ciphertool.sentencebuilder.entities.Word' />
		<mapping class='com.ciphertool.genetics.entities.ExecutionStatistics' />
		<mapping class='com.ciphertool.genetics.entities.GenerationStatistics' />

	</session-factory>

</hibernate-configuration>
